body{

background:#455A64;

}

.left-panel{

background:#ff9966;

display:flex;

justify-content:center;

align-items:center;

}

.left-panel img{

width:80%;

}

.register-box{

background:white;

padding:40px;

width:420px;

border-radius:10px;

box-shadow:0 5px 15px rgba(0,0,0,.2);

}

.btn-signup{

background:#ff9966;

color:white;

font-weight:bold;

}

.btn-signup:hover{

background:#ff884d;

}